<div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center">
  No countries to show
</div>

<ng-template #table>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Flag</th>
        <th scope="col">Name</th>
        <th scope="col">Capital</th>
        <th scope="col">Population</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.common">
        </td>
        <td>
          {{country.name.common}}
        </td>
        <td>
          {{country.capital}}
        </td>
        <td>
          {{ country.population | number }}
        </td>
        <td>
          <a [routerLink]="['/countries/by', country.ccn3]">Info</a>
        </td>
      </tr>
    </tbody>
  </table>

</ng-template>
